@import '../project-backlog/project-backlog.component.less';
@import '../../../styles/variables.less';

.task {
  small {
    display: block;
  }
  h6 {
    text-decoration: none !important;
  }
  &.active {
    background-color: @primary-color;
    small,
    h6 {
      color: white !important;
    }
  }
}
