<ng-container *ngIf="demo">
  <div class="d-flex justify-content-between mb-3">
    <h4 class="mb-0">Демо спринта "{{ demo.sprintName }}"</h4>
    <div class="text-right">
      <div
        class="btn"
        [ngClass]="{
          'btn-outline-primary': demo.taskToShow?.length,
          'btn-primary': !demo.taskToShow?.length
        }"
        (click)="finishDemo(false, createDemoTask)"
        *ngIf="!demo.isFinished"
      >
        Завершить демо
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="tasks w-25">
      <div class="content rounded p-2 mb-2 w-100" *ngIf="demo.taskToShow?.length">
        <div
          [ngClass]="{ 'mb-2': true }"
          class="header d-flex justify-content-between align-items-center"
        >
          <div class="name">
            <span class="d-block mr-2">
              <i class="fas fa-chevron-right mr-2" [ngClass]="{ opened: true }"></i>
              Задачи для показа
            </span>
          </div>
        </div>

        <ng-container *ngFor="let task of demo.taskToShow">
          <ng-container
            *ngTemplateOutlet="
              taskTemp;
              context: {
                $implicit: task,
                showBtn: false
              }
            "
          ></ng-container>
        </ng-container>
      </div>
      <div class="content rounded p-2 mb-2 w-100" *ngIf="demo.shownTasks?.length">
        <div
          [ngClass]="{ 'mb-2': true }"
          class="header d-flex justify-content-between align-items-center"
        >
          <div class="name">
            <span class="d-block mr-2">
              <i class="fas fa-chevron-right mr-2" [ngClass]="{ opened: true }"></i>
              Принятые задачи
            </span>
          </div>
        </div>

        <ng-container *ngFor="let task of demo.shownTasks">
          <ng-container
            *ngTemplateOutlet="
              taskTemp;
              context: {
                $implicit: task,
                showBtn: false
              }
            "
          ></ng-container>
        </ng-container>
      </div>
    </div>
    <div class="active-task w-75">
      <div class="border-bottom ml-2 mb-3" *ngIf="activeTask">
        <div class="task mb-0">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="mb-0">
              {{ activeTask.task.name }}
              <span class="badge badge-success" *ngIf="activeTask.isFinished">Принята</span>
            </h4>
            <button
              class="btn btn-primary"
              (click)="acceptTask(activeTask.id)"
              *ngIf="!activeTask.isFinished"
            >
              Принять
            </button>
          </div>

          <div class="form-group">
            <small class="text-muted">Описание</small>
            <p [innerHTML]="activeTask.task.description"></p>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <small class="text-muted">Приоритет</small>
                <h6>{{ activeTask.task.priorityId | priority }}</h6>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <small class="text-muted">Тип задачи</small>
                <h6>{{ activeTask.task.typeId | taskType }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ml-2">
        <div class="form-group">
          <p class="mb-1">Замечания:</p>
          <ckeditor [editor]="editor" [formControl]="commentControl"></ckeditor>
        </div>

        <p class="mb-1">
          Вложения
          <i class="fas fa-link ml-1 cursor-pointer" (click)="uploader.uploadFiles($event)"></i>
        </p>
        <app-multiple-file-uploader [formControl]="filesControl" #uploader></app-multiple-file-uploader>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #taskTemp let-task let-show="showBtn">
  <div
    class="task rounded w-100 d-flex flex-column justify-content-center"
    [ngClass]="{ active: activeTask?.id === task.id }"
    (click)="onTaskClick(task.id)"
  >
    <small class="text-muted mr-3">#{{ task.task.id }}</small>
    <h6 class="d-inline text-dark">{{ task.task.name }}</h6>
    <div class="d-flex">
      <div class="mr-1" [taskType]="task.task.typeId">{{ task.task.typeId | taskType }}</div>
      <div [taskPriority]="task.task.priorityId">{{ task.task.priorityId | priority }}</div>
    </div>
  </div>
</ng-template>

<ng-template #noData>
  <div class="d-flex justify-content-center align-items-center text-muted w-100 h-100">
    Задача не выбрана
  </div>
</ng-template>

<ng-template #createDemoTask>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Создание задачи с замечаниями</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modalService.dismissAll()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" [formGroup]="demoTaskForm">
    <div class="form-group">
      <label>Название задачи</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Название"
        ngbAutofocus
      />
    </div>
    <div class="form-group">
      <label>Описание</label>
      <ckeditor [editor]="editor" formControlName="comment"></ckeditor>
    </div>
    <div class="form-group">
      <label
        >Вложения<i
          class="fas fa-link ml-1 cursor-pointer"
          (click)="formUploader.uploadFiles($event)"
        ></i
      ></label>
      <app-multiple-file-uploader
        formControlName="files"
        #formUploader
      ></app-multiple-file-uploader>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modalService.dismissAll()">
      Отмена
    </button>
    <button class="btn btn-primary" (click)="finishDemo(true)">Создать и завершить демо</button>
  </div>
</ng-template>
