<div class="d-flex">
  <div class="tasks w-25">
    <div class="content rounded p-2 mb-2 w-100" *ngIf="tasks?.length">
      <div class="header d-flex justify-content-between align-items-center mb-2">
        <div class="name">
          <span class="d-block mr-2"> Задачи для показа </span>
        </div>
      </div>

      <ng-container *ngFor="let task of tasks">
        <ng-container
          *ngTemplateOutlet="
            taskTemp;
            context: {
              $implicit: task,
              showBtn: false
            }
          "
        ></ng-container>
      </ng-container>
    </div>
  </div>
  <div class="active-task w-75">
    <div class="ml-2 mb-3" *ngIf="activeTask">
      <div class="task mb-0">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="mb-0">
            {{ activeTask.name }}
          </h4>
          <div class="d-flex">
            <button class="btn btn-outline-primary" (click)="removeFromSprint(activeTask.id)">
              Убрать из спринта
            </button>
            <button class="btn btn-primary ml-1" (click)="takeToSprint(activeTask.id)">
              Взять в спринт
            </button>
          </div>
        </div>

        <div class="form-group">
          <small class="text-muted">Описание</small>
          <p [innerHTML]="activeTask.description"></p>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <small class="text-muted">Приоритет</small>
              <h6>{{ activeTask.priorityId | priority }}</h6>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <small class="text-muted">Тип задачи</small>
              <h6>{{ activeTask.typeId | taskType }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #taskTemp let-task let-show="showBtn">
  <div
    class="task rounded w-100 d-flex flex-column justify-content-center"
    [ngClass]="{ active: activeTask?.id === task.id }"
    (click)="onTaskClick(task.id)"
  >
    <small class="text-muted mr-3">#{{ task.id }}</small>
    <h6 class="d-inline text-dark">{{ task.name }}</h6>
    <div class="d-flex">
      <div class="mr-1" [taskType]="task.typeId">{{ task.typeId | taskType }}</div>
      <!-- <div [taskPriority]="task.priorityId">{{ task.priorityId | priority }}</div> -->
      <div
        class="badge epic-badge"
        *ngIf="task.epic"
        [ngStyle]="{
          'border-color': task.epic?.color
        }"
      >
        {{ task.epic.name }}
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noData>
  <div class="d-flex justify-content-center align-items-center text-muted w-100 h-100">
    Задача не выбрана
  </div>
</ng-template>
