<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Создание задачи</h4>
  <button
    type="button"
    class="close"
    aria-label="Close button"
    aria-describedby="modal-title"
    (click)="dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" [formGroup]="createForm">
  <div class="form-group">
    <label>Название</label>
    <input type="text" class="form-control" formControlName="name" ngbAutofocus />
  </div>
  <div class="form-group">
    <label>Описание</label>
    <ckeditor [editor]="editor" formControlName="description"></ckeditor>
  </div>
  <div class="form-group">
    <label>Исполнитель</label>
    <ng-select
      [items]="users"
      formControlName="projectUserId"
      bindValue="id"
      [closeOnSelect]="true"
    >
      <ng-template ng-label-tmp let-item="item">
        {{ item.name }} {{ item.surname }} ({{ item.email }})
      </ng-template>
      <ng-template ng-option-tmp let-item="item">
        <p class="m-0">{{ item.name }} {{ item.surname }}</p>
        <small class="text-muted">{{ item.email }}</small>
      </ng-template>
    </ng-select>
  </div>
  <div class="form-group">
    <label>Тип задачи</label>
    <ng-select
      [items]="taskTypes"
      formControlName="typeId"
      bindValue="id"
      bindLabel="name"
      [closeOnSelect]="true"
    >
    </ng-select>
  </div>
  <div class="form-group">
    <label>Приоритет</label>
    <ng-select
      [items]="priorities"
      formControlName="priorityId"
      bindValue="id"
      bindLabel="name"
      [closeOnSelect]="true"
    >
    </ng-select>
  </div>
  <div class="form-group">
    <label>Спринт</label>
    <ng-select
      [items]="sprints"
      formControlName="projectSprintId"
      bindValue="id"
      bindLabel="name"
      [closeOnSelect]="true"
    >
    </ng-select>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="dismiss()">Отмена</button>
  <button type="button" ngbAutofocus class="btn btn-primary" (click)="close()">Создать</button>
</div>
