<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Изменение задачи</h4>
  <button
    type="button"
    class="close"
    aria-label="Close button"
    aria-describedby="modal-title"
    (click)="dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" [formGroup]="editForm">
  <div class="form-group">
    <label>Тип задачи</label>
    <ng-select
      [items]="taskTypes"
      formControlName="typeId"
      bindValue="id"
      bindLabel="name"
      [clearable]="false"
      [closeOnSelect]="true"
      ngbAutofocus
    >
    </ng-select>
  </div>
  <div class="form-group">
    <label>Приоритет</label>
    <ng-select
      [items]="priorities"
      formControlName="priorityId"
      bindValue="id"
      bindLabel="name"
      [clearable]="false"
      [closeOnSelect]="true"
    >
    </ng-select>
  </div>
  <div class="form-group">
    <label>Спринт</label>
    <ng-select
      [items]="sprints"
      formControlName="projectSprintId"
      bindValue="id"
      bindLabel="name"
      [closeOnSelect]="true"
    >
    </ng-select>
  </div>
  <div class="form-group">
    <label>Статус</label>
    <ng-select
      [items]="statuses"
      formControlName="statusId"
      [clearable]="false"
      bindValue="id"
      bindLabel="name"
      [closeOnSelect]="true"
    >
    </ng-select>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="dismiss()">Отмена</button>
  <button type="button" ngbAutofocus class="btn btn-primary" (click)="close()">Сохранить</button>
</div>
