/* You can add global styles to this file, and also import other style files */
@import './variables.less';
@import '~@ng-select/ng-select/themes/default.theme.css';
@import './controls.less';

body,
html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  outline: none;
}

.form-group {
  label {
    color: @text-muted;
    margin-bottom: 0.1rem;
    font-size: small;
  }
}

.btn-info {
  background: @bg-info;
  border-color: @bg-info;

  &:hover,
  &:active,
  &:focus {
    background: @bg-info-hover !important;
    border-color: @bg-info-hover !important;
    box-shadow: none;
  }
}

.btn-outline-primary {
  color: @primary-color;
  border-color: @primary-color;

  &:hover,
  &:not(:disabled).active {
    color: #fff;
    background-color: @primary-color !important;
    border-color: @primary-color !important;
  }
}

.btn-primary {
  color: #fff;
  background-color: @primary-color;
  border-color: @primary-color;
}

.form-control {
  &.ng-touched.ng-invalid {
    border-color: @border-danger;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.header {
  text-transform: uppercase;
  font-weight: 500;
}

.task {
  display: block;
  color: black;
  text-decoration: none;
  background: #fff;
  padding: 0.5rem;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  h6 {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.shadow-form {
  max-width: 976px;
  box-shadow: 0px 8px 34px rgba(59, 110, 157, 0.3);
  border-radius: 12px;
  padding: 40px;
  margin: 3rem auto 0;

  h6 {
    font-weight: 500;
  }
}
