<div class="info mx-2 border-bottom pb-3 mb-3" *ngIf="sprint">
  <div>
    <h3 class="mb-0">{{ sprint.name }}</h3>
    <small class="text-muted">{{ sprint.goal }}</small>
  </div>
  <div class="dates" *ngIf="sprint.startDate">
    <div class="d-flex justify-content-end mb-1">
      {{ sprint.startDate | date: 'dd.MM.yyyy' }}
      <span class="px-1">—</span>
      {{ getFinishDate(sprint.startDate) | date: 'dd.MM.yyyy' }}
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-info ml-2" (click)="onStartDemo()">Начать демо</button>
      <button class="btn btn-outline-primary ml-2">Начать ретроспективу</button>
    </div>
  </div>
</div>
<div class="scrollable" *ngIf="tasks?.length">
  <div class="headers">
    <div class="header mx-1" *ngFor="let status of statuses">{{ status.name }}</div>
  </div>
  <div class="board px-1" cdkDropListGroup>
    <div
      class="collumn mx-1 rounded"
      cdkDropList
      [cdkDropListData]="tasksStatus"
      [id]="statuses[index].id.toString()"
      *ngFor="let tasksStatus of tasks; let first = first; let index = index"
      (cdkDropListDropped)="changeStatus($event)"
    >
      <div *ngIf="first" class="text-center create-task rounded" (click)="createTask()">
        <i class="fas fa-plus mr-1"></i>
        Создать задачу
      </div>
      <div class="task rounded" *ngFor="let task of tasksStatus" cdkDrag>
        <small class="text-muted">#{{ task.id }}</small>
        <h6 [routerLink]="['/task', task.id]">{{ task.name }}</h6>
        <small class="text-muted"
          >{{ task.projectUser?.name }} {{ task.projectUser?.surname }}</small
        >
      </div>
    </div>
  </div>
</div>
