<div class="d-flex align-items-stretch" *ngIf="session?.task">
  <div class="w-50 task border-right mr-4 pr-3 mb-0">
    <h4>{{ session.task.name }}</h4>
    <div class="form-group">
      <small class="text-muted">Описание</small>
      <p [innerHTML]="session.task.description"></p>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <small class="text-muted">Приоритет</small>
          <h6>{{ session.task.priorityId | priority }}</h6>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <small class="text-muted">Тип задачи</small>
          <h6>{{ session.task.typeId | taskType }}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="poker w-50">
    <div
      class="w-100 h-75 d-flex justify-content-center align-items-center"
      *ngIf="showResultValue"
    >
      <div class="card main">
        {{ session.resultValue }}
      </div>
    </div>
    <ng-container *ngIf="!showResultValue">
      <div class="form-group">
        <small class="text-muted">Оценки</small>
        <div class="d-flex cards">
          <ng-container *ngIf="!session.showCards; else selectResult"
            ><div
              class="card"
              (click)="setCard(card)"
              [ngClass]="{ active: activeMark === card }"
              *ngFor="let card of marks"
            >
              <span>{{ card }}</span>
            </div></ng-container
          >
        </div>
      </div>
      <div class="poker-marks mb-4">
        <div class="poker-mark d-flex align-items-center" *ngFor="let card of session.cards">
          <div class="card active card-sm mr-3" [ngClass]="{ hidden: !session.showCards }">
            {{ session.showCards ? card.value : '?' }}
          </div>
          <h5>{{ card.userName }} {{ card.userSurname }}</h5>
        </div>
      </div>
    </ng-container>
    <div class="d-flex" *ngIf="session.cards?.length">
      <ng-container *ngIf="!showResultValue"
        ><button
          *ngIf="session.showCards"
          class="btn btn-outline-primary mr-1"
          (click)="resetCards()"
        >
          Сбросить
        </button>
        <button *ngIf="!session.showCards" class="btn btn-primary" (click)="openCards()">
          Показать
        </button>
      </ng-container>
      <button *ngIf="showResultValue" class="btn btn-primary" [routerLink]="['../../']">
        Продолжить
      </button>
    </div>
  </div>
</div>

<ng-template #selectResult>
  <div class="card main" (click)="closeSession(card.value)" *ngFor="let card of mantionedCards">
    <span class="d-block">{{ card.value }}</span>
    <small class="text-wigth">({{ card.count }})</small>
  </div>
</ng-template>
