<div class="px-2 pb-2" *ngIf="backlog">
  <div class="d-flex justify-content-between mb-3">
    <h4 class="mb-0">Бэклог</h4>
    <div class="text-right">
      <div class="btn btn-outline-primary" (click)="onCreatTask()">Создать задачу</div>
      <div class="btn btn-primary ml-2" (click)="onCreateSprint()">Создать спринт</div>
    </div>
  </div>
  <div class="content rounded p-2" *ngFor="let sprint of backlog.sprints">
    <div class="header mb-3">{{ sprint.name }}</div>
    <div class="task rounded d-flex" *ngFor="let task of sprint.tasks">
      <div class="col-8">
        <small class="text-muted mr-3">#{{ task.id }}</small>
        <h6 class="d-inline" [routerLink]="['/task', task.id]">{{ task.name }}</h6>
      </div>
      <div class="col-4 text-right">
        <small class="text-muted">{{ task.user?.name }} {{ task.user?.surname }}</small>
      </div>
    </div>
  </div>
  <div class="content rounded p-2">
    <div class="header mb-3">Задачи без спринта</div>
    <div class="task rounded d-flex" *ngFor="let task of backlog.tasks">
      <div class="col-8">
        <small class="text-muted mr-3">#{{ task.id }}</small>
        <h6 class="d-inline" [routerLink]="['/task', task.id]">{{ task.name }}</h6>
      </div>
      <div class="col-4 text-right">
        <small class="text-muted">{{ task.user?.name }} {{ task.user?.surname }}</small>
      </div>
    </div>
  </div>
</div>
