<div class="pb-2" *ngIf="backlog" cdkDropListGroup>
  <div class="d-flex justify-content-between mb-3">
    <h4 class="mb-0">Бэклог</h4>
    <div class="text-right">
      <div
        class="btn btn-outline-primary"
        *ngIf="projectDataService.PID[permissions.CanCreateTask]"
        (click)="onCreatTask()"
      >
        Создать задачу
      </div>
      <div
        class="btn btn-primary ml-2"
        *ngIf="projectDataService.PID[permissions.CanCreateSprint]"
        (click)="onCreateSprint()"
      >
        Создать спринт
      </div>
    </div>
  </div>
  <ng-container *ngIf="backlog.sprints?.length || backlog.tasks?.length; else backlogPlaceholder">
    <div
      class="content rounded p-2 mb-2"
      *ngFor="let sprint of backlog.sprints"
      cdkDropList
      (cdkDropListDropped)="drop($event, sprint)"
      [cdkDropListData]="sprint.tasks"
    >
      <div
        [ngClass]="{ 'mb-3': sprint.isOpened }"
        class="header d-flex justify-content-between align-items-center"
      >
        <div class="name" (click)="toggleSprint(sprint)">
          <span class="d-block mr-2"
            ><i class="fas fa-chevron-right mr-2" [ngClass]="{ opened: sprint.isOpened }"></i
            >{{ sprint.name }}</span
          ><span class="badge badge-success" *ngIf="sprint.isActive">Активный</span>
        </div>

        <ng-container *ngIf="!sprint.isFinished">
          <button
            class="btn btn-success"
            *ngIf="
              projectDataService.PID[permissions.CanStartScrumPocker] &&
              !sprint.planningId &&
              !sprint.isActive &&
              sprint.tasks?.length
            "
            (click)="onStartPlanning(sprint.id)"
          >
            Оценить задачи
          </button>
          <button
            class="btn btn-outline-success"
            *ngIf="!sprint.isActive && !sprint.isFinished && sprint.planningId"
            [routerLink]="['../planning', sprint.planningId]"
          >
            Перейти к планированию
          </button>
          <ng-container *ngIf="sprint.isActive">
            <button
              *ngIf="projectDataService.PID[permissions.CanStartDemo] && canStartDemo(sprint)"
              class="btn btn-outline-info"
              [routerLink]="['../planning', sprint.planningId]"
            >
              Начать демо
            </button>
            <button
              class="btn btn-outline-primary ml-2"
              *ngIf="
                projectDataService.PID[permissions.CanStartRetro] &&
                !sprint.retro &&
                sprint.demo?.isFinished
              "
              [routerLink]="['../planning', sprint.planningId]"
            >
              Начать ретроспективу
            </button></ng-container
          >
        </ng-container>
      </div>
      <ng-container *ngIf="sprint.isOpened">
        <ng-container *ngIf="sprint.tasks?.length; else noData">
          <div
            class="task rounded d-flex align-items-start"
            cdkDrag
            *ngFor="let task of sprint.tasks"
          >
            <ng-container
              *ngTemplateOutlet="
                taskTemp;
                context: {
                  $implicit: task,
                  showBtn: !sprint.isActive && !!projectDataService.project?.sprint
                }
              "
            ></ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div
      class="content rounded p-2"
      *ngIf="backlog.tasks?.length"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="backlog.tasks"
    >
      <div class="header mb-3">Задачи без спринта</div>
      <ng-container *ngIf="backlog.tasks?.length; else noData">
        <div
          class="task rounded d-flex align-items-start"
          cdkDrag
          *ngFor="let task of backlog.tasks"
        >
          <ng-container
            *ngTemplateOutlet="
              taskTemp;
              context: { $implicit: task, showBtn: !!projectDataService.project?.sprint }
            "
          ></ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #backlogPlaceholder>
  <div class="backlog-placeholder">
    <ng-container *ngIf="projectDataService.PID[permissions.CanCreateTask]">
      <div class="backlog-placeholder__text text-center text-muted">
        Вы еще не создали ни одного спринта или задачи. <br />
        Создайте <a href="javascript:;" (click)="onCreatTask()">задачу</a> или
        <a href="javascript:;" (click)="onCreateSprint()">спринт</a> кнопкой в правом верхнем углу
      </div>
      <img class="backlog-placeholder__arrow" src="../../../assets/images/strelka.svg" />
    </ng-container>
    <ng-container *ngIf="!projectDataService.PID[permissions.CanCreateTask]">
      <div class="backlog-placeholder__text text-center text-muted">
        В проекте еще нет ни одной задачи...
      </div>
    </ng-container>

    <img src="../../../assets/images/no-tasks-icon.png" alt="" class="backlog-placeholder__image" />
  </div>
</ng-template>

<ng-template #noData>
  <div class="d-flex justify-content-center align-items-center text-muted p-4">
    Задачи отсутствуют
  </div>
</ng-template>

<ng-template #taskTemp let-task let-show="showBtn">
  <div class="col-8 d-flex align-items-center pl-0">
    <small class="text-muted mr-3">#{{ task.id }}</small>
    <a [routerLink]="['../task', task.id]"
      ><h6 class="d-inline text-dark mb-0">{{ task.name }}</h6></a
    >
  </div>
  <div class="col-4 pr-0 d-flex align-items-center justify-content-end task-info">
    <small class="text-muted mr-1"
      >{{ task.projectUser?.name }} {{ task.projectUser?.surname }}</small
    >
    <div class="mr-1" [taskType]="task.typeId">{{ task.typeId | taskType }}</div>
    <!-- <div class="mr-1" [taskPriority]="task.priorityId">{{ task.priorityId | priority }}</div> -->
    <div
      class="badge epic-badge"
      *ngIf="task.epic"
      [ngStyle]="{
        'border-color': task.epic?.color
      }"
    >
      {{ task.epic.name }}
    </div>
    <button
      *ngIf="projectDataService.PID[permissions.CanEditTask] && show"
      class="btn icon-btn ml-3"
      title="Добавить в текущий спринт"
      (click)="onAddToActiveSprint(task.id)"
    >
      <i class="far fa-plus-square"></i>
    </button>
  </div>
</ng-template>
