@import '../../../styles/variables.less';
.content {
  background-color: @bg-light;
}

.header {
  .name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    line-height: 38px;
    cursor: pointer;

    i {
      transition: 0.3s;

      &.opened {
        transform: rotate(90deg);
      }
    }
  }
}
.task-info{
  min-height: 24px;
}

.backlog-placeholder {
  text-align: center;
  position: relative;
  .backlog-placeholder__arrow {
    position: absolute;
    right: 148px;
    top: -90px;
    transform: rotate(-10deg);
  }
  .backlog-placeholder__text {
    margin-top: 150px;
  }
  .backlog-placeholder__image {
    height: 300px;
    opacity: 0.8;
    margin-top: 50px;
  }
}
