<h5 class="mb-3 d-flex justify-content-between align-items-center">
  <span [ngClass]="{ active: hidable }" (click)="isOpened = !isOpened"
    >{{ title
    }}<i
      class="fas pl-2"
      *ngIf="hidable"
      [ngClass]="{ 'fa-angle-down': !isOpened, ' fa-angle-up': isOpened }"
    ></i></span
  ><a routerLink="/create-project" *ngIf="canCreateProject" class="fas fa-plus"></a>
</h5>
<ng-container *ngIf="!hidable || isOpened">
  <div class="items pb-4">
    <ng-container *ngIf="items?.length; else noData">
      <div class="item mb-3 mr-3" *ngFor="let project of items" [routerLink]="['/project', project.id]">
        <div class="mb-3">
          <h6 class="name m-0">{{ project.name }}</h6>
          <!-- <small
            ><ng-container *ngFor="let role of project.roles; let last = last"
              >{{ role }}<ng-container *ngIf="!last">, </ng-container></ng-container
            ></small
          > -->
        </div>
        <span class="date">{{ project.lastEditDate | date: 'dd.MM.yyyy' }}</span>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-template #noData>
  <small class="d-flex w-100 justify-content-center text-muted py-5">Проекты отсутствуют</small>
</ng-template>
