h5{
    span{
        cursor: pointer;
        &.active{
            &:hover{
                text-decoration: underline;
            }
        }
    }
    i{
        font-size: 1.2rem;
    }
    a{
        color: black;
        text-decoration: none;
    }
}
.items {
  display: flex;
  .item {
    background: linear-gradient(103.45deg, #276095 0%, rgba(135, 190, 240, 0.91) 100%);
    padding: 1rem;
    border-radius: 0.8rem;
    color: white;

    small {
      color: #e5e5e5;
    }
    .date{
        font-weight: 300;
    }
  }
}
