<form [formGroup]="formGroup">
  <div class="form-group">
    <h6>Название проекта</h6>
    <input type="text" class="form-control" formControlName="name" />
  </div>
  <div class="form-group">
    <h6>Описание проетка</h6>
    <ckeditor [editor]="editor" [config]="editorConfig" formControlName="description"></ckeditor>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" (click)="createProject()">
      {{ projectId ? 'Сохранить' : 'Создать' }}
    </button>
  </div>
</form>
