<div class="comments">
  <div class="comment d-flex border-bottom pb-3 mb-4">
    <div class="comment__user-img">
      <div
        class="profile-img placeholder"
        [style.background-image]="'url(../../../../../assets/ava.jpg)'"
      ></div>
    </div>
    <div class="comment__data pl-2">
      <div class="comment__sender-info d-flex mb-2 align-items-baseline">
        <div class="comment__user-name mr-2">Иван Номоконов</div>
        <div class="d-flex">
          <small class="comment__date-time text-muted">23.12.1998 09:55</small>
          <small class="text-muted mx-2">•</small>
          <small class="comment__edit-btn"
            ><a class="text-primary" href="javascript:;">Изменить</a></small
          >
          <small class="text-muted mx-2">•</small>
          <small class="comment__edit-btn"
            ><a class="text-danger" href="javascript:;">Удалить</a></small
          >
        </div>
      </div>
      <p class="comment__text m-0">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur asperiores eius
        molestias ut, autem magni exercitationem deserunt fuga, eveniet expedita vitae minus amet
        dolor voluptatibus odit corporis velit! Nisi obcaecati hic earum vel eius nulla provident
        quos officia quidem veritatis voluptates amet laboriosam, placeat voluptatibus quam aliquam
        incidunt? Pariatur, assumenda?
      </p>
    </div>
  </div>
  <div class="comment d-flex">
    <div class="comment__user-img">
      <div
        class="profile-img placeholder"
        [style.background-image]="'url(../../../../../assets/ava.jpg)'"
      ></div>
    </div>
    <div class="comment__data pl-2">
      <div class="comment__sender-info d-flex mb-2 align-items-baseline">
        <div class="comment__user-name mr-2">Иван Номоконов</div>
        <div class="d-flex">
          <small class="comment__date-time text-muted">23.12.1998 09:55</small>
          <small class="text-muted mx-2">•</small>
          <small class="comment__edit-btn"
            ><a class="text-primary" href="javascript:;">Изменить</a></small
          >
          <small class="text-muted mx-2">•</small>
          <small class="comment__edit-btn"
            ><a class="text-danger" href="javascript:;">Удалить</a></small
          >
        </div>
      </div>
      <p class="comment__text m-0">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur asperiores eius
        molestias ut, autem magni exercitationem deserunt fuga, eveniet expedita vitae minus amet
        dolor voluptatibus odit corporis velit! Nisi obcaecati hic earum vel eius nulla provident
        quos officia quidem veritatis voluptates amet laboriosam, placeat voluptatibus quam aliquam
        incidunt? Pariatur, assumenda?
      </p>
    </div>
  </div>
</div>
