<div class="container-fluid">
  <span class="header">Обновление пароля</span>
  <form [formGroup]="form">
    <div class="form-group">
      <input
        placeholder="Новый пароль"
        type="password"
        class="form-control"
        formControlName="password"
      />
    </div>
    <small class="text-danger">{{ errorText }}</small>
    <div class="d-flex justify-content-between mt-3" [ngClass]="{ 'mt-5': !errorText }">
      <a routerLink="/sign-in" class="btn btn-link pl-0">Вход</a>
      <button type="button" class="btn btn-primary" (click)="onPrimaryBtnClick()">
        Соханить пароль
      </button>
    </div>
  </form>
</div>
