<div class="d-flex flex-column h-100">
  <div
    class="container-fluid d-flex align-items-center justify-content-between pt-3 border-bottom pb-3 mb-3"
  >
    <h3 class="m-0 d-flex align-items-center">
      {{ project?.name }} <i class="fas fa-cogs text-muted ml-2" routerLink="edit"></i>
    </h3>
    <div class="user-info d-flex" *ngIf="user" routerLink="/profile">
      <div>
        <h6 class="m-0">{{ user.name }} {{ user.surname }}</h6>
        <small>{{ user.email }}</small>
      </div>
      <img src="../../assets/images/default_ava.png" class="h-100" alt="" />
    </div>
  </div>
  <div class="board">
    <div class="board-menu border-right pr-2">
      <div class="menu-item btn btn-outline-primary" routerLink="board" routerLinkActive="active"><i class="fas fa-running"></i></div>
      <div class="menu-item btn btn-outline-primary" routerLink="backlog" routerLinkActive="active"><i class="fas fa-book"></i></div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
