<div class="container" *ngIf="userInfo">
  <div class="head d-flex align-items-center justify-content-between border-bottom">
    <div class="user-info d-flex align-items-center">
      <img src="../../assets/images/default_ava.png" alt="" class="ava" />
      <div class="info ml-2">
        <h5 class="name m-0">
          {{ userInfo.name }} {{ userInfo.surname }}
          <i class="fas fa-pencil-alt text-muted ml-2" (click)="onEditUserClick()"></i>
          <i class="fas fa-sign-out-alt text-muted ml-2" (click)="onLogoutClick()"></i>
        </h5>
        <small class="text-muted email">{{ userInfo.email }}</small>
      </div>
    </div>
    <div class="links d-flex">
      <a [href]="userInfo.vk"><i class="fab fa-vk"></i></a>
      <a class="ml-3" [href]="userInfo.gitHub"><i class="fab fa-github"></i></a>
    </div>
  </div>
  <div class="projects py-4">
    <div class="my-projects">
      <app-projects [canCreateProject]="true" [items]="myProjects"></app-projects>
    </div>
    <!-- <div class="other-projects" *ngIf="othersProjects.length">
      <app-projects [title]="'Проекты с моим участием'" [items]="othersProjects"></app-projects>
    </div>
    <div class="closed-projects" *ngIf="closedProjects.length">
      <app-projects
        [title]="'Закрытые проекты'"
        [items]="closedProjects"
        [hidable]="true"
      ></app-projects>
    </div> -->
  </div>
</div>
