<div class="container pt-5" *ngIf="task">
  <a [routerLink]="['/project', task.projectId]"
    ><i class="fas fa-arrow-left"></i> задачи проекта</a
  >
  <div class="row pt-4">
    <div class="col-9">
      <small class="text-muted">#{{ task.id }}</small>
      <h4 class="mb-5">{{ task.name }}</h4>
    </div>
    <div class="col text-right">
      <button class="btn btn-outline-primary mb-1">Изменить</button>
      <button class="btn btn-primary ml-1 mb-1">Начать оценку</button>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <section class="mb-4">
        <div class="section-body">
          <div class="row">
            <div class="col-6">
              <small class="text-muted">Тип</small>
              <h6>{{ task.typeId || 'Feature' }}</h6>
            </div>
            <div class="col-6">
              <small class="text-muted">Статус</small>
              <h6>{{ task.status.name }}</h6>
            </div>
            <div class="col-6">
              <small class="text-muted">Приоритет</small>
              <h6>Низкий</h6>
            </div>
            <div class="col-6">
              <small class="text-muted">Спринт</small>
              <h6>SCRUM 13/12/2000</h6>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h5 class="section-header">Описание</h5>
        <div class="section-body">
          <p [innerHTML]="task.description"></p>
        </div>
      </section>
    </div>
    <div class="col border-left">
      <div class="form-group">
        <small class="text-muted">Исполнитель</small>
        <h6 *ngIf="task.projectUser; else setTaskUser">
          {{ task.projectUser.name }} {{ task.projectUser.surname }}
        </h6>
      </div>
      <div class="form-group">
        <small class="text-muted">Создатель</small>
        <h6>{{ task.creator.name }} {{ task.creator.surname }}</h6>
      </div>
      <div class="pt-3 mt-3 border-top">
        <div class="form-group">
          <small class="text-muted">Дата создания</small>
          <h6>{{ task.createDate | date: 'dd.MM.yyyy' }}</h6>
        </div>
        <div class="form-group">
          <small class="text-muted">Дата изменения</small>
          <h6>{{ task.lastEditDate | date: 'dd.MM.yyyy' }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #setTaskUser>
  <button class="btn btn-link">Стать исполнителем</button>
</ng-template>
