<div class="container pt-5" *ngIf="task">
  <a class="btn btn-link pl-0" (click)="backClicked()"><i class="fas fa-arrow-left"></i> назад</a>
  <div class="row pt-4 mb-5">
    <div class="col-9">
      <small class="text-muted">#{{ task.id }}</small>
      <h4 class="mb-2" *ngIf="task.name && !editingName" (click)="editingName = !editingName">
        {{ task.name }}
      </h4>
      <div class="input-group" *ngIf="!task.name || editingName">
        <input type="text" class="form-control" [formControl]="nameControl" />
        <span class="input-group-text fas fa-save cursor-pointer" (click)="saveTaskName()"></span>
        <span
          class="input-group-text cursor-pointer"
          *ngIf="task.name"
          (click)="cancelNameEditing()"
        >
          <i class="fas fa-times"></i
        ></span>
      </div>
    </div>
    <div class="col text-right pt-4">
      <button class="btn btn-outline-primary mb-1" (click)="editTaskInfo()">Изменить</button>
      <!-- <button class="btn btn-primary ml-1 mb-1">Начать оценку</button> -->
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <section class="mb-4">
        <div class="section-body">
          <div class="row">
            <div class="col-4">
              <small class="text-muted">Тип</small>
              <h6>{{ task.typeId | taskType }}</h6>
            </div>
            <div class="col-4">
              <small class="text-muted">Статус</small>
              <h6>{{ task.status.name }}</h6>
            </div>
            <div class="col-4">
              <small class="text-muted" *ngIf="task.points">Оценка</small>
              <h6>{{ task.points }}</h6>
            </div>
            <div class="col-4">
              <small class="text-muted">Приоритет</small>
              <h6>{{ task.priorityId | priority }}</h6>
            </div>
            <div class="col-4">
              <small class="text-muted">Спринт</small>
              <h6>{{ task.sprint?.name || '—' }}</h6>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h5 class="section-header">
          Описание
          <i
            *ngIf="!editingDescription"
            class="fas fa-pencil-alt ml-2 cursor-pointer"
            (click)="editingDescription = !editingDescription"
          ></i>
        </h5>
        <div class="section-body">
          <p class="description" [innerHTML]="task.description" *ngIf="!editingDescription"></p>
          <ckeditor
            [editor]="editor"
            [formControl]="descriptionControl"
            *ngIf="editingDescription"
          ></ckeditor>
          <div class="text-right mt-2">
            <button
              class="btn btn-primary"
              *ngIf="editingDescription"
              (click)="saveTaskDescription()"
            >
              Сохранить
            </button>
          </div>
        </div>
      </section>
      <section class="border-top pt-3">
        <h5 class="section-header">
          Вложения
          <i class="fas fa-link ml-2 cursor-pointer" (click)="onUploadFileClick($event)"></i>
        </h5>
        <div class="upload-area" #inputFileContainer>
          <ng-container *ngIf="task.files?.length; else noFiles">
            <div class="upload-area__file" *ngFor="let file of task.files">
              <i
                *ngIf="!isImage(file.url)"
                class="upload-area__file-icon"
                [ngClass]="getFileIconClass(file.name)"
                (click)="downloadFile(file)"
              ></i>
              <a target="_blank" *ngIf="isImage(file.url)" [href]="file.url"
                ><img class="upload-area__file-image" [src]="file.url"
              /></a>
              <span class="upload-area__file-name">{{ file.name }}</span>
              <i
                class="upload-area__file-remove fas fa-times-circle text-danger"
                (click)="removeFile(file.id)"
              ></i>
            </div>
          </ng-container>
        </div>
      </section>
    </div>
    <div class="col border-left">
      <div class="form-group">
        <small class="text-muted">Исполнитель</small>
        <ng-select
          *ngIf="project"
          [items]="project.users"
          bindValue="id"
          [formControl]="userControl"
          [closeOnSelect]="true"
          [searchFn]="userSerachFn"
        >
          <ng-template ng-label-tmp let-item="item">
            {{ item.name }} {{ item.surname }}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            <p class="m-0">{{ item.name }} {{ item.surname }}</p>
            <small class="text-muted">{{ item.email }}</small>
          </ng-template>
        </ng-select>
      </div>
      <div class="form-group">
        <small class="text-muted">Создатель</small>
        <h6>{{ task.creator.name }} {{ task.creator.surname }}</h6>
      </div>
      <div class="pt-3 mt-3 border-top">
        <div>
          <small class="text-muted">Дата создания</small>
          <h6>{{ task.createDate | date: 'dd.MM.yyyy' }}</h6>
        </div>
        <div class="form-group">
          <small class="text-muted">Дата изменения</small>
          <h6>{{ task.lastEditDate | date: 'dd.MM.yyyy' }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noFiles>
  <span class="text-muted text-center p-4 btn btn-link w-100" (click)="onUploadFileClick($event)"
    >Загрузить файлы</span
  >
</ng-template>
