<div class="pb-3 w-100 h-100">
  <div class="field rounded p-1">
    <div class="good m-1">
      <span class="placeholder">Что было хорошо?</span>
      <ng-container *ngFor="let card of goodCards">
        <ng-container *ngTemplateOutlet="cardTemp; context: { $implicit: card }"> </ng-container>
      </ng-container>
      <!-- <div class="retro-card" contenteditable="true" (input)="scale($event.target, $event)"></div> -->
      <button class="btn btn-primary create-btn" (click)="createCard(cardCategory.Good)">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="bad m-1">
      <span class="placeholder">Что не получилось?</span>
      <ng-container *ngFor="let card of badCards">
        <ng-container *ngTemplateOutlet="cardTemp; context: { $implicit: card }"> </ng-container>
      </ng-container>
      <button class="btn btn-primary create-btn" (click)="createCard(cardCategory.Bad)">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="improvments m-1">
      <span class="placeholder">Что можно улучшить?</span>
      <ng-container *ngFor="let card of improvmentCards">
        <ng-container *ngTemplateOutlet="cardTemp; context: { $implicit: card }"> </ng-container>
      </ng-container>

      <button class="btn btn-primary create-btn" (click)="createCard(cardCategory.Improvment)">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="actions m-1">
      <span class="placeholder">Дальнейшие действия</span>
      <ng-container *ngFor="let card of actionCards">
        <ng-container *ngTemplateOutlet="cardTemp; context: { $implicit: card }"> </ng-container>
      </ng-container>
      <button class="btn btn-success create-btn complete-retro" (click)="complete()">
        <i class="fas fa-check"></i>
      </button>
      <button class="btn btn-primary create-btn" (click)="createCard(cardCategory.Actions)">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</div>
<div class="pb-3" *ngIf="retro?.oldCards?.length">
  <h4>Поинты с прошлого ретро</h4>
  <div class="old-points">
    <div class="point" *ngFor="let card of retro.oldCards; let index = index">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          [id]="index + 'point'"
          [(ngModel)]="card.isCompleted"
          (change)="completePoint(card)"
        />
        <label class="form-check-label" [for]="index + 'point'">
          {{ card.text }}
        </label>
      </div>
    </div>
  </div>
</div>

<ng-template #cardTemp let-card>
  <div class="retro-card" [ngClass]="{ isMy: card.isMy }" (click)="onCardClick($event)">
    <i class="fas fa-times" *ngIf="card.isMy" (click)="onRemoveCard(card.id)"></i>
    <span
      *ngIf="card.isMy; else disabled"
      contenteditable
      [style.fontSize]="(card.fontSize || 16) + 'px'"
      [textContent]="card.text"
      (input)="scale($event.target, $event, card)"
    ></span>
    <ng-template #disabled>
      <span [style.fontSize]="(card.fontSize || 16) + 'px'" [textContent]="card.text"></span>
    </ng-template>
  </div>
</ng-template>
