@import '../../../styles/variables.less';

.field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: @bg-light;

  & > div {
    width: calc(50% - 0.5rem);
    height: calc(50% - 0.5rem);
    margin-right: -0.4rem;
    margin-bottom: -0.4rem;
    background: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    padding: 0.5rem;
    .placeholder {
      text-transform: uppercase;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: bold;
      color: rgba(199, 199, 199, 0.5);
      left: 0;
      top: 0;
    }

    .retro-card {
      position: relative;
      z-index: 2;
      background-color: #ccffcc;
      border: 1px solid #ccffcc;
      width: 120px;
      padding: 0.25rem;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.466);
      margin-right: 0.4rem;
      margin-bottom: 0.4rem;
      height: 95px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        width: 100%;
        white-space: pre-line;
        overflow-wrap: break-word;
        text-align: center;
      }

      &.isMy {
        border-color: @primary-color !important;
      }
    }
    .create-btn {
      z-index: 10;
      position: absolute;
      right: 1rem;
      bottom: 1rem;
    }

    &.bad {
      .retro-card {
        background-color: #ffcccc;
        border-color: #ffcccc;
      }
    }
    &.improvments {
      .retro-card {
        background-color: #99ccff86;
        border-color: #99ccff86;
      }
    }

    &.actions {
      .retro-card {
        background-color: #cc99ff;
        border-color: #cc99ff;
      }
    }
  }
}
