<div class="pb-3 w-100 h-100">
  <div class="field rounded p-1">
    <div class="good m-1">
      <span class="placeholder">Что было хорошо?</span>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card" contenteditable="true" (input)="scale($event.target, $event)"></div>
    </div>
    <div class="bad m-1">
      <span class="placeholder">Что не получилось?</span>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="improvments m-1">
      <span class="placeholder">Что можно улучшить?</span>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
      <div class="retro-card">Lorem ipsum dolor sit amet.</div>
    </div>
    <div class="decisions m-1"></div>
  </div>
</div>
