<div class="d-flex justify-content-center align-items-center h-100 flex-column">
  <div class="cur-slider" *ngIf="daily?.isActive">
    <h4
      *ngFor="let participant of daily?.participants"
      [ngClass]="{ done: participant.isDone, active: participant.isActive }"
    >
      {{ participant.userName }} {{ participant.userSurname }}
    </h4>
  </div>

  <h1>{{ daily?.isActive ? getTime() : 'Stand Up!' }}</h1>
  <div class="d-flex">
    <button class="btn btn-primary start-btn" (click)="daily?.isActive && !isPaused ? pause() : start()">
      {{ !isPaused && daily?.isActive ? 'Пауза' : 'Начать' }}<i class="fas fa-caret-right" *ngIf="!daily?.isActive"></i>
    </button>
    <button
      *ngIf="daily?.isActive"
      class="btn btn-primary start-btn next-btn"
      (click)="lastParticipant ? stop() : next()"
    >
      <i
        class="fas"
        [ngClass]="{ 'fa-stop': lastParticipant, 'fa-angle-double-right': !lastParticipant }"
      ></i>
    </button>
  </div>
  <small class="text-muted">{{
    daily?.isActive ? 'Общее время: ' + getDailyTime() : getParticipantsCount()
  }}</small>
  <div class="participants d-flex">
    <div
      class="participant"
      *ngFor="let participant of nextParticipants; let last = last"
      [ngClass]="{ next: last }"
    >
      {{ participant.userName }} {{ participant.userSurname }}
      <i class="fas fa-angle-double-right ml-2" *ngIf="last"></i>
    </div>
  </div>
</div>
