<div class="tasks-list content p-2 rounded mb-2">
  <div class="header mb-3">Задачи для оценки</div>

  <ng-container *ngIf="planning?.notMarkedTasks?.length; else noData">
    <div
      class="task rounded d-flex justify-content-between align-items-center"
      *ngFor="let task of planning?.notMarkedTasks"
    >
      <div class="d-flex align-items-center">
        <small class="text-muted mr-3">#{{ task.id }}</small>
        <a [routerLink]="task.activeSessionId ? ['task', task.id] : ['/task', task.id]"
          ><h6 class="d-inline text-dark mb-0">{{ task.name }}</h6></a
        >
      </div>
      <div>
        <div class="badge btn-outline-primary mr-2" (click)="onRemoveFromSprintClick(task.id)">
          Убрать из спринта
        </div>
        <div
          class="badge"
          [ngClass]="{
            'badge-primary': !task.activeSessionId,
            'badge-success': task.activeSessionId
          }"
          (click)="onStartPokerClick(task)"
        >
          {{ task.activeSessionId ? 'Оценивается' : 'Начать оценку' }}
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="tasks-list content p-2 rounded">
  <div class="header mb-3 d-flex justify-content-between align-items-center">
    <span>Оцененные задачи</span>
    <button
      class="btn btn-primary"
      *ngIf="planning?.isActive && !planning?.notMarkedTasks?.length"
      (click)="onStartSprintClick()"
    >
      Начать спринт
    </button>
  </div>
  <ng-container *ngIf="planning?.completedSessions?.length; else noData">
    <div
      class="task rounded d-flex justify-content-between align-items-center"
      *ngFor="let session of planning?.completedSessions"
    >
      <div class="d-flex align-items-center">
        <small class="text-muted mr-3">#{{ session.task.id }}</small>
        <a [routerLink]="['task', session.task.id]"
          ><h6 class="d-inline text-dark mb-0">{{ session.task.name }}</h6></a
        >
      </div>
      <div class="badge badge-success" *ngIf="session.task.points">{{ session.task.points }}</div>
      <div class="badge badge-secondary" *ngIf="session.isCanceled">Отменена</div>
    </div>
  </ng-container>
</div>
<ng-template #noData>
  <div class="d-flex justify-content-center align-items-center text-muted p-4">
    Задачи отсутствуют
  </div>
</ng-template>

<ng-template #emptyTaskModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Подтверждение начала спринта</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span class="mb-5">Отсутствуют оцененные задачи. Всё равно начать спринт?</span>
    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-outline-dark" (click)="startSprint(modal)">Начать</button>
      <button type="button" class="btn btn-outline-dark mr-4 ml-3" (click)="modal.close('Save click')">Отмена</button>
    </div>
  </div>
</ng-template>
